{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Description -->
    <meta name="description" content="Euro India">
    <meta name="Euro India" content="Euro India">

    <!-- Title  -->
    <title>Euro India</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'assets/img/icons8-bbb-32.png' %}">

    <!-- ***** All CSS Files ***** -->

    <!-- Style css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body class="homepage-3">
    <div class="main overflow-hidden">
        <!-- ***** Header Start ***** -->
        <header id="header">
            <!-- Navbar -->
            <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
                <div class="container header">
                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="index.html">
                        <img class="navbar-brand-regular " src="{% static 'assets/img/wlogo_white.svg' %}" height="50px" width="200px" alt="brand-logo">
                        <img class="navbar-brand-sticky" src="{% static 'assets/img/blogo_black.svg' %}" height="50px" width="200px" alt="sticky brand-logo">
                    </a>
                    <div class="ml-auto"></div>
                    <!-- Navbar -->
                    <ul class="navbar-nav items">
                        <li class="nav-item">
                            <a href="#about-Us" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link">Services</a>
                        </li>
                    </ul>
                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                    <!-- Navbar Toggler -->
                    <ul class="navbar-nav toggle">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                                <i class="fas fa-bars toggle-icon m-0"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            

        </header>

<div id="menu" class="modal fade p-0">
            <div class="modal-dialog dialog-animated">
                <div class="modal-content h-100">
                    <div class="modal-header" data-dismiss="modal">
                        <img class="" src="{% static 'assets/img/blogo_black.svg' %}" height="35px" width="150px" >
                        <i class="far fa-times-circle icon-close"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">

                            <div class="col-1"></div>
                            <div class="items p-0 col-5 text-center"></div>
                            <div class="col-5">
                                <ul class="custom_nav">
                                    <li class="nav-item social">    
                                        <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="nav-item social"> 
                                        <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="nav-item social">
                                        <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Header End ***** -->

        <!-- ***** Welcome Area Start ***** -->
        <section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Welcome Intro Start -->
                    <div class="col-12 col-md-6">
                        <div class="welcome-intro">
                            <h1 class="text-white text-center text-md-left"> <span class="fw-6">Euro India</span></h1>
                            <p class="text-white text-center text-md-left my-4">EURO INDIA is a consultancy that functions as a mentor. This includes follow up procedures that ensure services are being run smoothly and up to standard.</p>
                            <p class="text-white text-center text-md-left my-4">EURO INDIA's mission is to help companies further their business by offering bespoke services for any and all needs - whether in India or Europe.</p>
                            <!-- Buttons -->
                            <div class="button-group d-flex align-items-center justify-content-center justify-content-md-start">
                                <a href="#" class="btn btn-bordered-white chat_icon_lets_connect"><i class="fas fa-paper-plane contact-icon mr-md-2"></i>Let's Connect</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <img  id="moving-img" src="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Welcome Area End ***** -->

        <!-- ***** Content Area Start ***** -->
        <section class="section content-area bg-grey ptb_100">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-6">
                        <!-- Content Inner -->
                        <div class="content-inner text-center">
                            <!-- Section Heading -->
                            <div class="section-heading text-center mb-3">
                                <h2>We help to grow your business.</h2>
                                <p class="d-none d-sm-block mt-4">Are you looking to start a business and don't know with whom to partner with for guidance?</p>
                            </div>
                            <!-- Content List -->
                            <ul class="content-list text-left">
                                <!-- Single Content List -->
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Business development </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Consulting, advisory </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Web services  </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Digital marketing </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Support with incorporation of companies </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Market research and growth </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Export - Import </span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-1">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Translations services </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                            <video class="embed-responsive embed-responsive-16by9" height="100%" width="100%" 
                                    controls poster=
                            "{% static 'assets/img/play-thumbnail.jpg' %}" controls autoplay loop preload="metadata" >
                                    <source src=
                            "{% static 'assets/video/Euro India.mp4' %}"
                                            type="video/mp4" id='video-player'>
                                </video>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="section service-area ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- <div class="col-12 col-md-10 col-lg-7"> -->
                        <!-- Section Heading -->
                        <div class="section-heading text-center mb-2">
                            <h2>Our Services</h2>
                        </div>  
                    <!-- </div> -->
                
                  <div class="row  row-cols-1 row-cols-md-4">
                    <div class="col my-4" data-toggle="modal" data-target="#buisness">
                      <div class="card service-box">
                        <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                        <img src="{% static 'assets/img/buissness.png' %}" class="card-img-top serive-icon"/>
                        <div class="card-body">
                          <h5 class="card-title">Business Development</h5>
                        </div> 
                      </div>
                    </div>
                    <div class="col my-4" data-toggle="modal" data-target="#consulting">
                      <div class="card service-box">
                        <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                        <img src="{% static 'assets/img/consultation.png' %}" class="card-img-top serive-icon"/>
                        <div class="card-body">
                          <h5 class="card-title">Consulting, advisory</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col my-4" data-toggle="modal" data-target="#webservices">
                        <div class="card service-box">
                            <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                            <img src="{% static 'assets/img/webservices.png' %}" class="card-img-top serive-icon"/>
                            <div class="card-body">
                                <h5 class="card-title">Web <br>  services</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col my-4" data-toggle="modal" data-target="#digital-marketing">
                        <div class="card service-box">
                            <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                            <img src="{% static 'assets/img/social-media.png' %}" class="card-img-top serive-icon"/>
                            <div class="card-body">
                                <h5 class="card-title">Digital marketing </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col my-4" data-toggle="modal" data-target="#support">
                      <div class="card service-box">
                        <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                        <img src="{% static 'assets/img/support.png' %}" class="card-img-top serive-icon"/>
                        <div class="card-body">
                          <h5 class="card-title">Support with incorporation of companies</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col my-4">
                      <div class="card service-box">
                        <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                        <img src="{% static 'assets/img/research.png' %}" class="card-img-top serive-icon"/>
                        <div class="card-body">
                          <h5 class="card-title">Market research and growth</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col my-4" data-toggle="modal" data-target="#import-export">
                        <div class="card service-box">
                            <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                            <img src="{% static 'assets/img/import.png' %}" class="card-img-top serive-icon"/>
                            <div class="card-body">
                                <h5 class="card-title">Export - Import</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col my-4" data-toggle="modal" data-target="#translation">
                      <div class="card service-box">
                        <!-- <ion-icon name="logo-react" class="serive-icon card-img-top"></ion-icon> -->
                        <img src="{% static 'assets/img/translation.png' %}" class="card-img-top serive-icon"/>
                        <div class="card-body">
                          <h5 class="card-title">Translations services </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </section>

        
        <section class="section content-area ptb_100 bg-grey" id="about-Us">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-6">
                        <div class="service-thumb mx-auto pt-4 pt-lg-0 text-center">
                            <img src="{% static 'assets/img/founder.png' %}" alt="">
                            <div>
                                <p class="text-center my-4">
                                    Simona Jadronova, <br> Founder & Director, <br> EURO INDIA
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Content Inner -->
                        <div class="content-inner text-center pt-sm-4 pt-lg-0 mt-sm-5 mt-lg-0">
                            <!-- Section Heading -->
                            <div class="section-heading text-center mb-3">
                                <h2>About Us</h2>
                                <p class="d-none d-sm-block mt-4">The founder & director of EURO INDIA is a Czech national with international experience in Germany and India.</p>
                                <!-- <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
                            </div>
                            <!-- Content List -->
                            <ul class="content-list text-left">
                                <!-- Single Content List -->
                                <li class="single-content-list media py-2">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Simona Jadronova studied Economics with emphasis on developing countries, international law and marketing at the TU Bergakademie Freiberg, Germany.</span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-2">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>Ms Jadronova's work experience began in Germany at several social and politic institutions and marketing agencies.</span>
                                    </div>
                                </li>
                                <li class="single-content-list media py-2">
                                    <div class="content-icon pr-4">
                                        <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                    </div>
                                    <div class="content-text media-body">
                                        <span>In India, she worked at the Indo-German Chamber of Commerce, where she supported and helped with the incorporation of reputed German companies-being a key player in creating their processes and business development. Her advisory role has enabled many companies to succeed in the Indian markets.</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


  <!-- Modal -->
  <div class="modal fade modal-ser" id="buisness" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Buisness Development</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>A study of current business situation</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Defining a strategy for market growth</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Search of suitable business partner</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Search of customers, suppliers</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Marketing definition and way forward</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Sales instruments</span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-ser" id="consulting" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Consulting, advisory</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Business and market consulting</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Local compliances</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Support with cross cultural differences</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Recommending checkedbusiness partners </span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Support with legal related queries</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Support with due dilligence or investigations</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Support with acquisition of land</span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-ser" id="webservices" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Web services</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Programming</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Mobile apps for IOS and Android</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>3D design</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Graphic design</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Software development</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Cyber security</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Data science</span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-ser" id="digital-marketing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Digital marketing</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Growth and market strategy</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>SEO and SEM</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Ad Campaigns</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Revenue Optimization</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Conversion rate optimization</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Digital business </span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Email Marketing </span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>PR and Influencer Technology </span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Automation</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Analytics</span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-ser" id="support" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Support with incorporation of companies</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Legal & notary service</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Support and communication with local body authorities</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Necessary registrations and permissions</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Full package for what to do before and after incorporation</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>List and overview of necessary compliances with deadlines</span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-ser"  id="import-export" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Export - Import</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Selection of logistic partner</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Comparison for sea, road, air mode</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Courier mode and express mode</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Import license and benefits</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Export license and benefits </span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>REX registration </span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal fade modal-ser" id="buisness" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h5>Buisness Development</h5>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item border-0">A study of current business situation</li>
                    <li class="list-group-item border-0">Defining a strategy for market growth</li>
                    <li class="list-group-item border-0">Search of suitable business partner</li>
                    <li class="list-group-item border-0">Search of customers, suppliers</li>
                    <li class="list-group-item border-0">Marketing definition and way forward</li>
                    <li class="list-group-item border-0">Sales instruments</li>
                </ul>
            </div>
      </div>
    </div>
  </div> -->
  <div class="modal fade modal-ser" id="translation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-service" role="document">
      <div class="modal-content modal-service">
            <div class="text-center mt-5">
                <h3>Translations Services</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Corrections</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Proof reading</span>
                        </div>
                    </li>
                    <li class="single-content-list media py-2">
                        <div class="content-icon pr-4">
                            <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <div class="content-text media-body">
                            <span>Translations in all languages </span>
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </div>
  </div>

<div id="chat" class="chat_icon">
    <!-- <i class="fas fa-paper-plane contact-icon mr-md-2"></i> -->
    <img src="{% static 'assets/img/messenger.png' %}" alt="">
</div>

<div class="chatbot-box">
    <div id="chatlist">
        <ul>
            <!-- <li class="admin-message">XYZ</li>
            <li class="client-message">XYZ</li> -->
        </ul>
    </div>
    <div class="message-box-wrap">
        <div class="message-box">
            <!-- <input type="text" name="" id=""> -->
        </div>
        <button id="send"><img src="{% static 'assets/img/send.png' %}" alt="">
        </button>
    </div>

    <div class="admin-client-message-wrap">
        <!-- <select name="service" data-question="Which service you want">
            <option>Please Select</option>
            <option>Web Design</option> 
            <option>Web Development</option>
            <option>Digital Marketing</option>
        </select> -->
        <input type="text" name="name" id="" data-question="Hi, welcome to Euro India, can we know your name?">
        <input type="text" name="email" id="" data-question="What is your email" data-name required>
        <input type="text" name="phone" id="" data-question="Thanks for sharing, What is your phone number">
        <div data-question="Confirm ?">
            <button id="confirm" class="btn btn-sm btn-success">Yes</button>
            <button id="notconfirm" class="btn btn-sm btn-danger">No</button> 
        </div>
    </div>
    <form action="" id="submit_info_form">
        <div class="submit_info"></div>
        <input type="submit" value="Send" id="submit" name="">
    </form>
</div>

<footer class="bg-white text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Contact Details</strong>
              </p>
            </div>
            <div class="col-auto">
              <p class="pt-2">
                <strong>Email: info@euro-india.in</strong>
              </p>
            </div>
            <div class="col-auto">
              <p class="pt-2">
                <strong>Telefon: +91 8805961593</strong>
              </p>
            </div>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="">Euro India</a>
    </div>
    <!-- Copyright -->
  </footer>


<!-- <div id="chat" data-toggle="modal" data-target="#chat-live">
</div> -->


    <!-- ***** All jQuery Plugins ***** -->

    <!-- jQuery(necessary for all JavaScript plugins) -->
    <script src="{% static 'assets/js/jquery/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'assets/js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Plugins js -->
    <script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script>

    <!-- Active js -->
    <script src="{% static 'assets/js/active.js' %}"></script>
    
    <script src="{% static 'assets/js/app.js' %}"></script>


    <script>

    var images = [
        "assets/img/1.svg",
        "assets/img/2.svg",
        "assets/img/10.svg",
    ];  

    let img = document.getElementById("moving-img");

    STATIC_URL = '{{STATIC_URL}}';

    window.onload = function ()
    {
        let num = Math.floor(Math.random() * images.length);
        // var s = '"' + images[num] + '"';
        var s = STATIC_URL + images[num];
        img.src = s;
    }

    </script>

</body>

</html>